{% from 'macros.html' import req %}
{% from 'macros.html' import hitCounter %}
<!DOCTYPE html>
<html>
	<head>
		<title>EMC Investigator</title>
		
		<!-- http://www.kryogenix.org/code/browser/sorttable/ -->
		<script type="text/javascript" src="_js/sorttable.js"></script>
		
		<script>
		function validate(form){
			var errors = [];
			
			var coordIds = ["x1", "z1", "x2", "z2"];
			var coordsEntered = 0;
			for (var i = 0; i < coordIds.length; i++){
				var textBox = document.getElementById(coordIds[i]);
				var value = textBox.value.trim();
				if (value != ""){
					coordsEntered++;
				}
			}
			if (coordsEntered > 0){
				if (coordsEntered < 4){
					errors.push("Some coordinates are missing values.");
				}
				for (var i = 0; i < coordIds.length; i++){
					var textBox = document.getElementById(coordIds[i]);
					var value = textBox.value.trim();
					if (value != "" && !isCoord(value)){
						errors.push("Coordinates must be numeric and without decimals.");
						break;
					}
				}
			}
			
			var startTime = document.getElementById('startTime').value.trim();
			var startTimeTs = Date.parse(startTime);
			if (startTime == ""){
				errors.push("Start time required.");
			} else {
				/*
				if (isNaN(startTimeTs)){
					errors.push("Invalid start time.");
				}
				*/
			}
			
			var endTime = document.getElementById('endTime').value.trim();
			var endTimeTs = Date.parse(endTime);
			if (endTime == ""){
				errors.push("End time required.");
			} else {
				/*
				if (isNaN(endTimeTs)){
					errors.push("Invalid end time.");
				}
				*/
			}

			/*
			if (!isNaN(startTimeTs) && !isNaN(endTimeTs)){
				if (startTimeTs > endTimeTs){
					errors.push("Start time must come before end time.");
				} else {
					if (endTimeTs - startTimeTs > 1000*60*60*24*7){
						errors.push("Time span cannot be longer than 1 week.");
					}
				}
			}
			*/
			
			//add errors to <ul> list
			var errorList = document.getElementById("errorList");
			errorList.innerHTML = ""; //clear
			for (var i = 0; i < errors.length; i++){
				var error = errors[i];
				var li = document.createElement("li");
				li.appendChild(document.createTextNode(error));
				errorList.appendChild(li);
			}
			
			return errors.length == 0;
		}
		
		var isCoord = function(){
			var regex = /^-?\d+$/;
			return function(value){
				return regex.test(value);
			};
		}();
		
		var isTime = function(value){
			//return !isNaN(Date.parse(value));
			return true;
		};
		
		function checkCoord(textBox){
			checkTextBox(textBox, isCoord);
		}
		
		function checkTime(textBox){
			checkTextBox(textBox, isTime);
		}
		
		function checkTextBox(textBox, func){
			var value = textBox.value.trim();
			var className = "validText";
			if (value != "" && !func(value)){
				className = "invalidText"
			}
			textBox.className = className;
		}
		</script>
		
		<style>
		body{
			color:#fff;
			background-color:#000;
		}
		
		table{
			color:#fff;
		}
		
		tr.evenRow{
			background-color:none;
		}
		
		tr.oddRow{
			background-color:#960;
		}
		
		a.header:link, a.header:active, a.header:visited{
			color: #fff;
			text-decoration: none;
		}
		a.header:hover{
			color: #fff;
			text-decoration: none;
		}
		
		a:link, a:active, a:visited{
			color: #f90;
			text-decoration: underline;
		}
		a:hover{
			color: #960;
			text-decoration: none;
		}
		
		.validText {
			background-color: #fff;
		}
		.invalidText {
			background-color: #f99;
		}
		</style>
	</head>
	<body>
		<div style="position:fixed; right:10px; top:10px;">
			<a href="http://empire.us"><img src="images/emc-logo.png" border="0" /></a><br />
			<a href="https://sites.google.com/site/emclastlightoutpost/"><img src="images/llo-logo.png" border="0" /></a><br /><br />
			<div style="text-align:center; font-size:0.8em; padding:20px 0px 20px 0px; background-color:#333; cursor:pointer;" onclick="window.scrollTo(0,0)">
				[<a href="#">scroll to top</a>]
			</div>
		</div>
		
		<div style="position:fixed; right:10px; bottom:10px;">
			<a href="https://github.com/mangstadt/emc-investigator" target="_blank" style="font-size:0.8em">http://www.github.com/mangstadt/emc-investigator</a>
		</div>

		<a href="." class="header" style="font-size:3em; font-weight:bold;">EMC Investigator</a> <span style="color:yellow; font-size:2.0em;">[beta]</span><br />
		<em>A griefer investigation tool for <a href="http://empire.us">Empire Minecraft</a></em><br />
		by <a href="http://empireminecraft.com/members/shavingfoam.12110/">shavingfoam</a> (c) 2012 -- Twig template programming: <a href="http://empireminecraft.com/members/alexschrod.28060/">alexschrod</a><br />
		<strong>Note:</strong> This tool cannot detect hidden players.
		<hr />
		
		<form action="." method="get" onsubmit="return validate(this);">
			<div style="color:red">
				<ul id="errorList">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
			
			<em>{{ req() }} = required</em>
			
			<div style="padding-top:10px">
				Server{{ req() }}:
				<select name="server">
					{% for server in servers %}
						{% if server == selectedServer %}
							<option selected>{{ server }}</option>
						{% else %}
							<option>{{ server }}</option>
						{% endif %}
					{% endfor %}
				</select>
				
				World{{ req() }}:
				<select name="world">
					{% for value,display in worlds %}
						{% if value == selectedWorld %}
							<option value="{{ value }}" selected>{{ display }}</option>
						{% else %}
							<option value="{{ value }}">{{ display }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
			<div style="padding-top:10px">
				Start time{{ req() }}: <input type="text" name="startTime" id="startTime" value="{{ startTime }}" onblur="checkTime(this)" /> <em>(format: YYYY-MM-DD HH:MM)</em>
			</div>
			<div>
				End time{{ req() }}: <input type="text" name="endTime" id="endTime" value="{{ endTime }}" onblur="checkTime(this)" />  <em>(format: YYYY-MM-DD HH:MM)</em>
			</div>
			<div style="padding-top:10px">
				Bounded area coords: <em>(the two opposite corners of the rectangle)</em><br />
				X1: <input type="text" name="x1" id="x1" size="10" value="{{ x1 }}" onblur="checkCoord(this)" /> Z1: <input type="text" name="z1" id="z1" size="10" value="{{ z1 }}" onblur="checkCoord(this)" /><br />
				X2: <input type="text" name="x2" id="x2" size="10" value="{{ x2 }}" onblur="checkCoord(this)" /> Z2: <input type="text" name="z2" id="z2" size="10" value="{{ z2 }}" onblur="checkCoord(this)" />
			</div>
			<div style="padding-top:10px">
				Player: <input type="text" name="player" value="{{ player }}" /> <em>(can be partial name)</em>
			</div>
			<input type="submit" value="Search" />
		</form>

		{% if results|length > 0 %}
			<h1>Results</h1>
			<div>
				<table cellpadding="5" class="sortable" id="resultsTable">
					<tr>
						<th style="cursor:pointer;" id="timeCol">Time (GMT-5)</th>
						<th style="cursor:pointer;">Player</th>
						<th class="sorttable_nosort">(X,Z) [Y]</th>
					</tr>
					{% set count = 0 %}
					{% for result in results %}
						{% for player in result.players %}
							{% if count is odd %}
								<tr class="oddRow">
							{% else %}
								<tr class="evenRow">
							{% endif %}
							<td>{{ result.ts|date('Y-m-d H:i') }}</td>
							<td><img onerror="this.style.display='none'" src="http://smp1.empire.us:8880/tiles/faces/16x16/{{ player.name|url_encode() }}.png" />{{ player.name }}</td>
							<td>({{ player.x }}, {{ player.z }}), [{{ player.y }}]</td>
							</tr>
							{% set count = count + 1 %}
						{% endfor %}
					{% endfor %}
				</table>
			</div>
			
			<script>
			var table = document.getElementById('resultsTable');
			table.afterSort = function(){
				for (var i = 1; i < table.rows.length; i++){
					var row = table.rows[i];
					row.className = (i % 2 == 0) ? 'evenRow' : 'oddRow';
				}
			};
			</script>
		{% endif %}

		{{ hitCounter(enableHitCounter) }}
	</body>
</html>
