{% from 'macros.html' import req %}
{% from 'macros.html' import hitCounter %}
<!DOCTYPE html>
<html>
	<head>
		<title>EMC Investigator</title>
		
		<link rel="icon" type="image/png" href="images/favicon.png" />
		
		<!-- http://www.kryogenix.org/code/browser/sorttable/ -->
		<script type="text/javascript" src="_js/sorttable.js"></script>
		
		<script>
		function validate(form){
			var errors = [];
			
			var coordIds = ["x1", "z1", "x2", "z2"];
			var coordsEntered = 0;
			for (var i = 0; i < coordIds.length; i++){
				var textBox = document.getElementById(coordIds[i]);
				var value = textBox.value.trim();
				if (value != ""){
					coordsEntered++;
				}
			}
			if (coordsEntered > 0){
				if (coordsEntered < 4){
					errors.push("Some coordinates are missing values.");
				}
				for (var i = 0; i < coordIds.length; i++){
					var textBox = document.getElementById(coordIds[i]);
					var value = textBox.value.trim();
					if (value != "" && !isCoord(value)){
						errors.push("Coordinates must be numeric and without decimals.");
						break;
					}
				}
			}
			
			var startTime = document.getElementById('startTime').value.trim();
			var startTimeDate = parseTime(startTime);
			if (startTime == ""){
				errors.push("Start time required.");
			} else {
				if (startTimeDate == null){
					errors.push("Invalid start time.");
				}
			}
			
			var endTime = document.getElementById('endTime').value.trim();
			var endTimeDate = parseTime(endTime);
			if (endTime == ""){
				errors.push("End time required.");
			} else {
				if (endTimeDate == null){
					errors.push("Invalid end time.");
				}
			}

			if (startTimeDate != null && endTimeDate != null){
				var startTs = startTimeDate.getTime();
				var endTs = endTimeDate.getTime();
				if (startTs > endTs){
					errors.push("Start time must come before end time.");
				} else {
					if (endTs - startTs > 1000*60*60*24*7){
						errors.push("Time span cannot be longer than 1 week.");
					}
				}
			}
			
			//add errors to <ul> list
			var errorList = document.getElementById("errorList");
			errorList.innerHTML = ""; //clear
			for (var i = 0; i < errors.length; i++){
				var error = errors[i];
				var li = document.createElement("li");
				li.appendChild(document.createTextNode(error));
				errorList.appendChild(li);
			}
			
			return errors.length == 0;
		}
		
		var isCoord = function(){
			var regex = /^-?\d+$/;
			return function(value){
				return regex.test(value);
			};
		}();
		
		var isTime = function(value){
			return parseTime(value) != null;
		};
		
		var parseTime = function(){
			var regex = /^(\d{4})-(\d{1,2})-(\d{1,2})( +(\d{1,2}):(\d{2}))?$/;
			return function(value){
				var matches = value.match(regex);
				
				if (matches == null){
					//string doesn't match
					return null;
				}
				
				if (matches[4] == null){
					//only a date was entered
					return new Date(matches[1], matches[2]-1, matches[3], 0, 0, 0, 0);
				} else {
					//date and time entered
					return new Date(matches[1], matches[2]-1, matches[3], matches[5], matches[6], 0, 0);
				}
			};
		}();
		
		
		function checkCoord(textBox){
			checkTextBox(textBox, isCoord);
		}
		
		function checkTime(textBox){
			checkTextBox(textBox, isTime);
		}
		
		function checkTextBox(textBox, func){
			var value = textBox.value.trim();
			var className = "validText";
			if (value != "" && !func(value)){
				className = "invalidText"
			}
			textBox.className = className;
		}
		
		function toggleVisibility(id){
			var element = document.getElementById(id);
			if (element == null){
				return;
			}
			
			var icon = document.getElementById(id + "-icon");
			if (element.style.display == "none"){
				element.style.display = "block";
				if (icon != null){
					icon.src = "images/collapse.gif";
				}
			} else {
				element.style.display = "none";
				if (icon != null){
					icon.src = "images/expand.gif";
				}
			}
		}
		
		function selectAll(textarea){
			textarea.focus();
			textarea.select();
		}
		
		function showLoading(){
			var submitButton = document.getElementById("submit");
			submitButton.disabled = true;
			
			var loading = document.getElementById("loading");
			loading.style.display = "block";
		}
		</script>
		
		<style>
		body{
			color:#fff;
			background-color:#000;
		}
		
		table{
			color:#fff;
		}
		
		img{
			border:0px;
		}
		
		tr.evenRow{
			background-color:none;
		}
		
		tr.oddRow{
			background-color:#960;
		}
		
		a.header:link, a.header:active, a.header:visited{
			color: #fff;
			text-decoration: none;
		}
		a.header:hover{
			color: #fff;
			text-decoration: none;
		}
		
		a:link, a:active, a:visited{
			color: #f90;
			text-decoration: underline;
		}
		a:hover{
			color: #960;
			text-decoration: none;
		}
		
		.validText {
			background-color: #fff;
		}
		.invalidText {
			background-color: #f99;
		}
		</style>
	</head>
	<body>
		<div style="position:fixed; right:10px; top:10px;">
			<a href="http://empire.us"><img src="images/emc-logo.png" border="0" /></a><br />
			<a href="https://sites.google.com/site/emclastlightoutpost/"><img src="images/llo-logo.png" border="0" /></a><br /><br />
			<div style="text-align:center; font-size:0.8em; padding:20px 0px 20px 0px; background-color:#333; cursor:pointer;" onclick="window.scrollTo(0,0)">
				[<a href="#">scroll to top</a>]
			</div>
		</div>
		
		<div style="position:fixed; right:10px; bottom:10px;">
			<a href="https://github.com/mangstadt/emc-investigator" target="_blank" style="font-size:0.8em">http://www.github.com/mangstadt/emc-investigator</a>
		</div>

		<a href="." class="header" style="font-size:3em; font-weight:bold;">EMC Investigator</a> <span style="color:yellow; font-size:2.0em;">[beta]</span><br />
		<em>A griefer investigation tool for <a href="http://empire.us">Empire Minecraft</a></em><br />
		by <a href="http://empireminecraft.com/members/shavingfoam.12110/">shavingfoam</a> (c) 2012 -- Twig template programming: <a href="http://empireminecraft.com/members/alexschrod.28060/">alexschrod</a><br />
		<strong>Note:</strong> This tool cannot detect hidden players.
		<hr />
		
		<form action="." method="get" onsubmit="var valid = validate(this); if (valid) showLoading(); return valid;">
			<div style="color:red">
				<ul id="errorList">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
			
			<em>{{ req() }} = required</em>
			
			<div style="padding-top:10px">
				<strong>Server:</strong>{{ req() }}
				<select name="server">
					{% for server in servers %}
						{% if server == selectedServer %}
							<option selected>{{ server }}</option>
						{% else %}
							<option>{{ server }}</option>
						{% endif %}
					{% endfor %}
				</select>
				
				<strong>World:</strong>{{ req() }}
				<select name="world">
					{% for value,display in worlds %}
						{% if value == selectedWorld %}
							<option value="{{ value }}" selected>{{ display }}</option>
						{% else %}
							<option value="{{ value }}">{{ display }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
			<div style="padding-top:10px">
				<strong>Date range:</strong><br />
				&nbsp;&nbsp;&nbsp;<em>format:</em> <code>YYYY-MM-DD HH:MM</code><br />
				&nbsp;&nbsp;&nbsp;<em>timezone:</em> <code>GMT{{ gmtOffsetHours }}</code><br />
				&nbsp;&nbsp;&nbsp;<em>data available from approx.</em> <code>{{ dataStartDate|date('Y-m-d') }}</code> <em>to present</em><br />
				Start:{{ req() }} <input type="text" name="startTime" id="startTime" value="{{ startTime }}" onblur="checkTime(this)" /> End:{{ req() }} <input type="text" name="endTime" id="endTime" value="{{ endTime }}" onblur="checkTime(this)" />
			</div>
			<div style="padding-top:10px">
				<strong>Bounded area coords:</strong> <em>(the two opposite corners of the rectangle)</em><br />
				X1: <input type="text" name="x1" id="x1" size="10" value="{{ x1 }}" onblur="checkCoord(this)" /> Z1: <input type="text" name="z1" id="z1" size="10" value="{{ z1 }}" onblur="checkCoord(this)" /><br />
				X2: <input type="text" name="x2" id="x2" size="10" value="{{ x2 }}" onblur="checkCoord(this)" /> Z2: <input type="text" name="z2" id="z2" size="10" value="{{ z2 }}" onblur="checkCoord(this)" />
			</div>
			<div style="padding-top:10px">
				<strong>Players:</strong> <input type="text" name="players" value="{{ players }}" /> <em>(comma separated, can be partial names)</em>
			</div>
			<div style="padding-top:10px">
				<input type="checkbox" id="minimap" name="minimap" {% if (minimap) %}checked="checked"{% endif %} /> <label for="minimap">generate waypoints for Rei's Minimap</label>
			</div>
			
			<table><tr>
				<td>
					<input id="submit" type="submit" value="Search" />
				</td>
				<td>
					<span id="loading" style="display:none; font-style:italic; font-size:0.8em">
						<img src="images/loading.gif" /> Please wait.  Queries can take up to 15 seconds.
					</span>
				</td>
			</tr></table>
		</form>

		{% if results is not null %}
			<h1>Results</h1>
			{% if results|length == 0 %}
				No results
			{% else %}
				{% if minimapData is not null %}
					<div style="width:600px; background-color:#333">
						<div>
							<a href="#" onclick="toggleVisibility('minimapData'); return false;"><img id="minimapData-icon" src="images/collapse.gif" /> Rei's Minimap</a>
						</div>
						<div id="minimapData" style="padding-left:20px">
							<div>
								<a href="#" onclick="toggleVisibility('minimapData-instructions'); return false;"><img id="minimapData-instructions-icon" src="images/expand.gif" /> Instructions</a>
								<div id="minimapData-instructions" style="display:none">
									<ol>
										<li>Download and install <a href="http://www.minecraftforum.net/topic/482147-142132125-oct25-reis-minimap-v32-05/" target="_blank">Rei's Minimap</a>.</li>
										<li>
											Open your Minecraft installation directory.
											<ul>
												<li>Windows: Go to "<code>Start &gt; Run</code>", type "<code>%appdata%</code>", and open the "<code>minecraft</code>" folder.</li>
												<li>Mac: <code>/Users/yourusername/Library/Application Support/minecraft</code></li>
												<li>Linux: <code>/home/yourusername/.minecraft</code></li>
											</ul>
										</li>
										<li>Open the "<code>mods</code>" folder, then the "<code>rei_minimap</code>" folder.</li>
										<li>Create a file and name it "<code>{{ minimapFilename }}</code>".</li>
										<li>Copy and paste the text below into the file and save it.</li>
									</ol>
								</div>
							</div>
							<div>
								Filename: <code>{{ minimapFilename }}</code><br />
								<textarea onclick="selectAll(this)" style="width:95%; height:200px;">{{ minimapData }}</textarea>
							</div>
						</div>
					</div>
				{% endif %}
				<div>
					<table cellpadding="5" class="sortable" id="resultsTable">
						<tr>
							<th style="cursor:pointer;">Time (GMT{{ gmtOffsetHours }})</th>
							<th style="cursor:pointer;">Player</th>
							<th class="sorttable_nosort">(X,Z) [Y]</th>
						</tr>
						{% set count = 0 %}
						{% for result in results %}
							{% if result.missingDataStart is not null %}
								<tr style="background-color: #300">
									<td style="text-align:center">
										{{ result.missingDataStart|date('Y-m-d H:i') }}<br />
										<em>to</em><br />
										{{ result.missingDataEnd|date('Y-m-d H:i') }}
									</td>
									<td style="text-align:center" colspan="2">
										<em>No data</em>
									</td>
								</tr>
								{% set count = count + 1 %}
							{% else %}
								{% for player in result.players %}
									{% if count is odd %}
										<tr class="oddRow">
									{% else %}
										<tr class="evenRow">
									{% endif %}
									<td>{{ result.ts|date('Y-m-d H:i') }}</td>
									<td><img onerror="this.style.display='none'" src="http://{{ selectedServer }}.empire.us:8880/tiles/faces/16x16/{{ player.name|url_encode() }}.png" /> {{ player.name }}</td>
									<td>({{ player.x }}, {{ player.z }}) [{{ player.y }}]</td>
									</tr>
									{% set count = count + 1 %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</table>
				</div>
				
				<script>
				var table = document.getElementById('resultsTable');
				table.afterSort = function(){
					for (var i = 1; i < table.rows.length; i++){
						var row = table.rows[i];
						row.className = (i % 2 == 0) ? 'evenRow' : 'oddRow';
					}
				};
				</script>
			{% endif %}
		{% endif %}

		{{ hitCounter(enableHitCounter) }}
	</body>
</html>
